html, body {
    margin: 0;
    padding: 0;
}
@media only screen and (orientation:landscape) {

    .selectedVideo {
        position: absolute;
        height: 452px;
        width: 800px;
        display: block;
        border: 2px solid #777;
        left: 0;
        right: 0;
        top: 25px;
        margin: auto;
        z-index: 11;
        background-color: black;
    }

    .galaxy-app {
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0px;
        left: 0px;
        position: absolute;
    }

    #selectedVideoSection {
	    display: block;
        position: relative;
        width: 100%;
	    height: 100%;
    }

    .right-sidebar {
        position: absolute;
        top :0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: #fbfbf9;
        border-left: 1px solid #ddd;
        display: block;
    }

    .menu {
        display: block;
        position: relative;
        width: 220px;
        height: 210px;
        margin-top: 25px;
        margin-left: 25px;
        background-color: #ededed;
    }

    .left-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 245px;
        height: 100%;
        background-color: white;
    }

    .chat-group {
        position: relative;
        height: 60%;
        width: 218px;
        border: 1px solid #ddd;
        margin-left: 25px;
    }

    .user input {
        position: absolute;
        border: 1px solid #ddd;

        box-shadow: none;
        outline: none;
        width: 80%;
        height: 24px;
        color: #333;
        font-size: 18px;
    }

    .notification {
        width: 800px;
        height: 30px;
        right: 0;
        left: 0;
        margin: auto;
        opacity: 0.7;
        top: 422px;
        border: 2px solid;
        color: #fff;
        position: absolute;
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
        background-color: black;
        border-color: #A0A3A5;
        -webkit-transition: 1s;
    }

    .portrait-central-video {
        -webkit-transform-origin: 50% 50%;
        bottom: 0;
        top: 0;
    }

    .user {
        position: relative;
        width: 50%;
        top: 300px;
        height: 24px;
        margin: auto;
    }
    
    #go-button {
        position: absolute;
        width: 20%;
        height: 24px;
        left: 80%;
        background-color: #ddd;
        cursor: pointer;
        font-family: "proxima-nova", sans-serif;
        text-align: center;
    }
}

@media only screen and (orientation:portrait) {

    .selectedVideo {
        position: absolute;
        height: 394px;
        width: 700;
        display: block;
        border: 2px solid #777;
        left: -250;
        right: 0;
        top: 180px;
        margin: auto;
        z-index: 11;
        background-color: black;
        -webkit-transform: rotate(-90deg);
        -webkit-transform-origin: center;
    }

    .galaxy-app {
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0px;
        left: 0px;
        position: absolute;
    }

    #selectedVideoSection {
	    display: block;
        position: relative;
        width: 100%;
	    height: 100%;
    }

    .right-sidebar {
        position: absolute;
        top :0;
        right: 0;
        width: 250px;
        height: 60%;
        background-color: #fbfbf9;
        border-left: 1px solid #ddd;
        display: block;
    }

    .menu {
        display: block;
        position: absolute;
        width: 250px;
        height: 100%;
        right: 0;
        background-color: #ededed;
        border-left: 1px solid #ddd;
    }

    .left-sidebar {
        position: absolute;
        top: 60%;
        left: 0;
        width: 100%;
        height: 40%;
        background-color: white;
    }

    .chat-group {
        position: absolute;
        height: 100%;
        width: 67%;
        border: 1px solid #ddd;
        top: 0px;
    }

    .user input {
        position: absolute;
        border: 1px solid #ddd;
        right: 250px;
        left: 0px;

        box-shadow: none;
        outline: none;
        margin: auto;
        width: 80%;
        height: 24px;
        color: #333;
        font-size: 18px;
    }

    .notification {
        width: 300px;
        height: 30px;
        right: 250px;
        left: 0;
        margin: auto;
        opacity: 0.7;


        top: 422px;
        border: 2px solid;
        color: #fff;
        position: absolute;
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
        background-color: black;
        border-color: #A0A3A5;
        -webkit-transition: 1s;
    }

    .user {
        position: relative;
        width: 50%;
        top: 300px;
        height: 24px;
        margin-left: 50px;
    }

    #go-button {
        position: absolute;
        width: 20%;
        height: 24px;
        left: 80%;
        background-color: #ddd;
        cursor: pointer;
        font-family: "proxima-nova", sans-serif;
        text-align: center;
    }
    
}

.message-video {
    width: 100%;
    height: 100%;
}

#remoteSlaveVideo {
	position: absolute;
	height: 600px;
	width: 800px;
	left:50%;
	margin-left: -400px;
}
.stage {
	overflow: hidden;
	height:600px;
	width:500px;
	left:50%;
	margin-left: -250px;
	position: absolute;
	border: 2px solid #777;
}

/*.right-sidebar {
	position: absolute;
	top :0;
	right: 0;
	width: 250px;
	height: 100%;
	background-color: #fbfbf9;
	border-left: 1px solid #ddd;
	display: block;
}

.menu {
    display: block;
	position: relative;
	width: 220px;
	height: 210px;
	margin-top: 25px;
	margin-left: 25px;
	background-color: #ededed;


.left-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 245px;
	height: 100%;
	background-color: white;
}*/

#slaves {
    height: 40%;
}

#slaves div {
    height: 20px;
    overflow: hidden;
}

#buttons{
    height: 60%;
}

.menu-text {
    display: block;
    width:100%;
}

.menu-text div {
    text-align: center;
	font-family: "proxima-nova",sans-serif;
    cursor:pointer;
    height: 30px;
}


#select-master {
    width:100%;
}

.remote-grid {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height:100%;
    overflow-y: auto;
    -webkit-padding-start: 0px;
}
 
.remote-grid li {
    display: block;
    margin-left: 25px;
    width: 220px;
    height: 125px;
    position: relative;
    
}

.remote-grid figure {
    margin: 0;
    position: relative;
}

.tile-video {
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
	display: block;
    z-index: 10;
}

.rotated-tile-video {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 125px;
    height: 220px;
    -webkit-transform-origin: center;
    -webkit-transform: rotate(-90deg);
}

.video-tile-figure {
    height: 100%;
    width: 100%;
    display: block;
}
.video-tile-caption {
    position: absolute;
    height:100%;
    width: 100%;
    top: 0;
    right: 0;
    background: #6C6F72;
    -webkit-transition: width 0.5s, box-shadow 0.4s;
}

.video-tile-figure:hover figcaption {
    width: 113%;
}

.video-tile-figure:hover .video-user-name {
    height: 16px;
}

.video-tile-caption img {
    cursor: pointer;
    left: 0px;
}

.volume-meter {
    position: absolute;
    z-index: 10;
    width:100%;
    height: 10px;
    bottom:0;
    /*background-color: green;*/
}

.mute {
    margin-top: 5%;
}
/*
.notification {
    width: 800px;
    height: 30px;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0.7;


    top: 422px;
    border: 2px solid;
    color: #fff;
    position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    background-color: black;
    border-color: #A0A3A5;
    -webkit-transition: 1s;
}
*/


.pop {
    top: 480px;
    -webkit-transition: 1s;
}

.message {
    margin: 0 0 2px 0;                                                  
}
.video-icon {
    color: rgb(231, 211, 211);
    cursor: pointer;
    left: 0px;
    width: 32px;
    text-align: center;
}

.media {
    text-align: center;
    margin-top: 20px;
}
#mic {
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 5px;
}


/*.user input {
    position: absolute;
    border: 1px solid #ddd;
    top: 300px;
    right: 0px;
    left: 0px;

    box-shadow: none;
    outline: none;
    margin: auto;
    width: 40%;
    height: 24px;
    color: #333;
    font-size: 18px;
}*/

.button-disabled {
    color: rgb(160, 157, 157);
}

.user input:focus{
    border: 1px solid black;
}

.video-user-name {
    position: absolute;
    height: 0px;
    overflow: hidden;
    color: white;
    z-index: 10;
    bottom: 0px;
    width: 100%;
    font-size:15px;
    text-align: center;
    opacity: 0.7;
    background-color: black;
}

#camera {
    position: relative;
    width: 36px;
    border-radius: 5px;
}
/*
.chat-group {
    position: relative;
    height: 60%;
    width: 218px;
    border: 1px solid #ddd;
    margin-left: 25px;
}*/

.chat-window {
    position: relative;
    height: 100%;
    width: 100%;
}

.conversation {
    position: relative;
    height: 93%;
    overflow-y: auto;
}

.input-box {
    position: relative;
    height: 25px;
    border-top: 1px solid #ddd;
    cursor: text;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 5px 3px 5px;
}

.text-area {
    border: 0px;
    outline: none;
    min-height: 16px;
    font-size: 11px;
    width: 210px;
    resize: none;
    overflow: hidden;
}

.conv-item {
    border-top: 1px solid #ddd;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.conv-item-user {
    float: left;
    position : relative;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}

.conv-item-message {
    //margin-left: 40px;
    display: block;
    text-align: left;
    word-wrap: break-word;
    font-size: 11px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    margin-bottom: 3px;
}
