html, body {
    margin: 0;
    padding: 0;
}
@media only screen and (orientation:landscape) {

    .selectedVideo {
        position: absolute;
        height: 452px;
        width: 800px;
        display: block;
        top: 25px;
        right: 0px;
        left: 0px;
        margin: auto;
        border: 2px solid #777;
        z-index: 13;
        background-color: black;
    }

    .galaxy-app {
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0px;
        left: 0px;
        position: absolute;
    }

    #selectedVideoSection {
	    display: block;
        position: relative;
        width: 100%;
	    height: 100%;
    }

    .right-sidebar {
        position: absolute;
        top :0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: #fbfbf9;
        border-left: 1px solid #ddd;
        display: block;
    }

    .menu {
        display: block;
        position: relative;
        width: 220px;
        height: 210px;
        margin-top: 25px;
        margin-left: 25px;
        background-color: #ededed;
    }

    .left-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 245px;
        height: 100%;
        background-color: white;
    }

    .chat-group {
        position: relative;
        height: 410px;
        width: 218px;
        border: 1px solid #ddd;
        margin-left: 25px;
    }

    .user input {
        position: absolute;
        border: 1px solid #ddd;

        box-shadow: none;
        outline: none;
        width: 80%;
        height: 24px;
        color: #333;
        font-size: 18px;
    }

    .notification {
        width: 800px;
        height: 30px;
        right: 0;
        left: 0;
        margin: auto;
        opacity: 0.7;
        top: 422px;
        border: 2px solid;
        color: #fff;
        position: absolute;
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
        background-color: black;
        border-color: #A0A3A5;
        -webkit-transition: 1s;
    }

    .portrait-central-video {
        -webkit-transform-origin: 50% 50%;
        top: 0;
    }
    
    .user-room-input {
        position: relative;
        width: 50%;
        top: 300px;
        height: 24px;
        margin: auto;
    }

    .user {
        position: relative;
        height: 24px;
        margin: auto;
    }

    .room {
        position: relative;
        height: 24px;
        margin: auto;
        top: 20px;
    }

    .room input {
        position: absolute;
        border: 1px solid #ddd;

        box-shadow: none;
        outline: none;
        width: 100%;
        height: 24px;
        color: #333;
        font-size: 18px;
    }
    
    #go-button {
        position: absolute;
        width: 20%;
        height: 24px;
        left: 80%;
        background-color: #ddd;
        cursor: pointer;
        font-family: "proxima-nova", sans-serif;
        text-align: center;
    }

    #slave-screens {
        position: absolute;
        top: 500px;
        width: 800px;
        left:0;
        right:0;
        margin: auto;
        bottom: 100px;
    }

    .central-video-slave-screen-portrait {
       width: 256px; 
    }

    .slave-screen-landscape {
        position: absolute;
        width: 199px;
        height: 112px;
        background-color:black;
        display: inline-block;
    }

    .slave-screen-portrait {
        position: absolute;
        width: 86px;
        height: 150px;
        background-color:black;
        display: inline-block;
    }
    
    .conversation {
        position: relative;
        height: 381px;
        overflow-y: auto;
    }

    .arrow_box_top div {
        font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
        font-size: 15px;
        padding: 5px;
        color: red;
    }

    .arrow_box_top {
        position: relative;
        background: #FFFFFF;
        top: 55px;
        border-radius: 3px;
        border: 1px solid #ddd;
        margin: auto;
        width: 80%;
        -webkit-transition: 1s ease-in-out, opacity 1s;
    }

    .arrow_box_top:after, .arrow_box_top:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box_top:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: white;
        border-width: 10px;
        left: 20%;
        margin-left: -10px;
    }

    .arrow_box_top:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ddd;
        border-width: 11px;
        left: 20%;
        margin-left: -11px;
    }

    .arrow_box_bottom div {
        font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
        font-size: 15px;
        padding: 5px;
        color: red;
    }

    .arrow_box_bottom {
        position: relative;
        background: #FFFFFF;
        top: -44px;
        border-radius: 3px;
        border: 1px solid #ddd;
        margin: auto;
        width: 80%;
        -webkit-transition: 1s ease-in-out, opacity 1s;
    }

    .arrow_box_bottom:after, .arrow_box_bottom:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box_bottom:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: white;
        border-width: 10px;
        left: 20%;
        margin-left: -10px;
    }

    .arrow_box_bottom:before {
        border-color: rgba(194, 225, 245, 0);
        border-top-color: #ddd;
        border-width: 11px;
        left: 20%;
        margin-left: -11px;
    }
    .central-icons {
        display: block;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top: 25;
        width: 802px;
        height: 600px;
    }
}

@media only screen and (orientation:portrait) {

    .selectedVideo {
        position: absolute;
        height: 394px;
        width: 700;
        display: block;
        border: 2px solid #777;
        left: -250;
        right: 0;
        top: 180px;
        margin: auto;
        z-index: 11;
        background-color: black;
        -webkit-transform: rotate(-90deg);
        -webkit-transform-origin: center;
    }

    .galaxy-app {
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0px;
        left: 0px;
        position: absolute;
    }

    #selectedVideoSection {
	    display: block;
        position: relative;
        width: 100%;
	    height: 100%;
    }

    .right-sidebar {
        position: absolute;
        top :0;
        right: 0;
        width: 250px;
        height: 60%;
        background-color: #fbfbf9;
        border-left: 1px solid #ddd;
        display: block;
    }

    .menu {
        display: block;
        position: absolute;
        width: 250px;
        height: 100%;
        right: 0;
        background-color: #ededed;
        border-left: 1px solid #ddd;
    }

    .left-sidebar {
        position: absolute;
        top: 60%;
        left: 0;
        width: 100%;
        height: 40%;
        background-color: white;
    }

    .chat-group {
        position: absolute;
        height: 100%;
        width: 67%;
        border: 1px solid #ddd;
        top: 0px;
    }

    .user-room-input {
        position: relative;
        top: 300px;
    }

    .user input {
        position: absolute;
        border: 1px solid #ddd;
        right: 250px;
        left: 0px;

        box-shadow: none;
        outline: none;
        margin: auto;
        width: 80%;
        height: 24px;
        color: #333;
        font-size: 18px;
    }

    .room input {
        position: absolute;
        border: 1px solid #ddd;

        box-shadow: none;
        outline: none;
        width: 100%;
        height: 24px;
        color: #333;
        font-size: 18px;
    }

    .notification {
        width: 300px;
        height: 30px;
        right: 250px;
        left: 0;
        margin: auto;
        opacity: 0.7;


        top: 422px;
        border: 2px solid;
        color: #fff;
        position: absolute;
        text-shadow: 0 1px 0 rgba(0,0,0,.5);
        background-color: black;
        border-color: #A0A3A5;
        -webkit-transition: 1s;
    }

    .user {
        position: relative;
        width: 50%;
        height: 24px;
        margin-left: 50px;
    }

    .room {
        position: relative;
        top: 20px;
        margin-left: 50px;
        width: 50%;
        height: 24px;
    }

    #go-button {
        position: absolute;
        width: 20%;
        height: 24px;
        left: 80%;
        background-color: #ddd;
        cursor: pointer;
        font-family: "proxima-nova", sans-serif;
        text-align: center;
    }

    .conversation {
        position: relative;
        height: 93%;
        overflow-y: auto;
    }

    .arrow_box_top div {
        font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
        font-size: 15px;
        padding: 5px;
        color: red;
    }

    .arrow_box_top {
        position: relative;
        background: #FFFFFF;
        top: 35px;
        border-radius: 3px;
        border: 1px solid #ddd;
        margin: auto;
        width: 80%;
        -webkit-transition: 1s ease-in-out, opacity 1s;
    }

    .arrow_box_top:after, .arrow_box_top:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box_top:after {
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: white;
        border-width: 10px;
        left: 20%;
        margin-left: -10px;
    }

    .arrow_box_top:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #ddd;
        border-width: 11px;
        left: 20%;
        margin-left: -11px;
    }

    .arrow_box_bottom div {
        font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
        font-size: 15px;
        padding: 5px;
        color: red;
    }

    .arrow_box_bottom {
        position: relative;
        background: #FFFFFF;
        top: -60px;
        border-radius: 3px;
        border: 1px solid #ddd;
        margin: auto;
        width: 80%;
        -webkit-transition: 1s ease-in-out, opacity 1s;
    }

    .arrow_box_bottom:after, .arrow_box_bottom:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box_bottom:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: white;
        border-width: 10px;
        left: 20%;
        margin-left: -10px;
    }

    .arrow_box_bottom:before {
        border-color: rgba(194, 225, 245, 0);
        border-top-color: #ddd;
        border-width: 11px;
        left: 20%;
        margin-left: -11px;
    }
    
}

.message-video {
    width: 100%;
    height: 100%;
}

#remoteSlaveVideo {
	position: absolute;
	height: 600px;
	width: 800px;
	left:50%;
	margin-left: -400px;
}
.stage {
	overflow: hidden;
	height:600px;
	width:500px;
	left:50%;
	margin-left: -250px;
	position: absolute;
	border: 2px solid #777;
}

/*.right-sidebar {
	position: absolute;
	top :0;
	right: 0;
	width: 250px;
	height: 100%;
	background-color: #fbfbf9;
	border-left: 1px solid #ddd;
	display: block;
}

.menu {
    display: block;
	position: relative;
	width: 220px;
	height: 210px;
	margin-top: 25px;
	margin-left: 25px;
	background-color: #ededed;


.left-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 245px;
	height: 100%;
	background-color: white;
}*/

#slaves {
    height: 40%;
}

#slaves div {
    height: 20px;
    overflow: hidden;
}

.menu-buttons-hover {
    background-color: #d6d6d6;
}

.menu-text {
    display: block;
    width:100%;
}

.menu-text div {
    text-align: center;
	font-family: "proxima-nova",sans-serif;
    cursor:pointer;
    height: 30px;
}


#select-master {
    width:100%;
}

.remote-grid {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height:100%;
    overflow-y: auto;
    -webkit-padding-start: 0px;
}
 
.remote-grid li {
    display: block;
    margin-left: 25px;
    width: 220px;
    height: 125px;
    position: relative;
    
}

.remote-grid figure {
    margin: 0;
    position: relative;
}

.tile-video {
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
	display: block;
    z-index: 10;
}

.tile-video-mute-icon {
    background: url('assets/microphone-muted.png');
    right: 0;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 11;
}

.tile-video-volume-muted-icon {
    background: url('assets/muted-red-icon.png');
    right: 0;
    width: 32px;
    height: 32px;
    position: relative;
    z-index: 11;
}

.tile-video-icon-container {
    right: 0;
    position: absolute
}


.rotated-tile-video {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 125px;
    height: 220px;
    -webkit-transform-origin: center;
    -webkit-transform: rotate(-90deg);
}

.video-tile-figure {
    height: 100%;
    width: 100%;
    display: block;
}
.video-tile-caption {
    position: absolute;
    height:100%;
    width: 100%;
    top: 0;
    right: 0;
    background: #6C6F72;
    -webkit-transition: width 0.5s, box-shadow 0.4s;
}

.video-tile-figure:hover figcaption {
    width: 113%;
}

.slave-screen-landscape:hover .video-user-name {
    height: 16px;
}

.slave-screen-portrait:hover .video-user-name {
    height: 16px;
}

.video-tile-figure:hover .video-user-name {
    height: 16px;
}

.video-tile-caption img {
    cursor: pointer;
    left: 0px;
}

.user-info span {
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    font-family: Roboto,arial,sans-serif;
    font-size: 15px;
}

.volume-meter {
    position: absolute;
    z-index: 10;
    width:100%;
    height: 10px;
    bottom:0;
    /*background-color: green;*/
}

.mute {
    margin-top: 5%;
}
/*
.notification {
    width: 800px;
    height: 30px;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0.7;


    top: 422px;
    border: 2px solid;
    color: #fff;
    position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    background-color: black;
    border-color: #A0A3A5;
    -webkit-transition: 1s;
}
*/


.pop {
    top: 480px;
    -webkit-transition: 1s;
}

.message {
    margin: 0 0 2px 0;                                                  
}
.video-icon {
    color: rgb(231, 211, 211);
    cursor: pointer;
    left: 0px;
    width: 32px;
    text-align: center;
}

.media {
    text-align: center;
}

/*.user input {
    position: absolute;
    border: 1px solid #ddd;
    top: 300px;
    right: 0px;
    left: 0px;

    box-shadow: none;
    outline: none;
    margin: auto;
    width: 40%;
    height: 24px;
    color: #333;
    font-size: 18px;
}*/

.button-disabled {
    color: rgb(160, 157, 157);
}

.user input:focus{
    border: 1px solid black;
}

.video-user-name {
    position: absolute;
    height: 0px;
    overflow: hidden;
    color: white;
    z-index: 12;
    bottom: 0px;
    width: 96%;
    font-size:15px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0.7;
    background-color: black;
}

.media-buttons {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #ededed;
}


.media-buttons-hover {
    border: 1px solid #c6c6c6;
    background-color: #d6d6d6;
}


.chat-window {
    position: relative;
    height: 100%;
    width: 100%;
}


.input-box {
    position: relative;
    border-top: 1px solid #ddd;
    cursor: text;
    padding: 5px 5px 3px 5px;
}

.text-area {
    border: 0px;
    outline: none;
    min-height: 16px;
    max-height: 78px;
    height: 13px;
    font-size: 11px;
    width: 100%;
    resize: none;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.conv-item {
    border-top: 1px solid #ddd;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.conv-item-user {
    float: left;
    position : relative;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}

.video-selected {
   outline: 3px solid #4d90f4; 
   z-index: 11;
}

.conv-item-message {
    display: block;
    text-align: left;
    word-wrap: break-word;
    font-size: 11px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    margin-bottom: 3px;
}
