
video {
	border: 2px solid #777;
	margin-left: 1px;
	margin-right: 1px;
}

#selectedVideoSection {
	display: block;
	height: 70%;
}

#selectedVideo {
	position:absolute;
	height:300px;
	width:400px;
	display:block;
	left:50%;
	margin-left: -200px;
}
#remoteVideos {
	display:block;
	height:30%;
}
#localVideo {
	position:absolute;
	height: 150px;
	width: 200px;
	left: 50%;
	margin-left:-100px;
}

#startButton {
	position:absolute;
	width: 100px;
	height: 22px;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	display:block;
}